= render 'items/header'
.user__show
  .l-container
    .left--content
      %a.link_order(href="#{user_path}")
        マイページ
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        お知らせ
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        やることリスト
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        いいね！一覧
        %i.fa.fa-angle-right
      %a.link_order(href="#{new_item_path}")
        出品する
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        下書き一覧
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        出品した商品 - 出品中
        %i.fa.fa-angle-right
      %a.link_order(href="#")  
        出品した商品 - 取引中
        %i.fa.fa-angle-right
      %a.link_order(href="#") 
        出品した商品 - 売却済み
        %i.fa.fa-angle-right
      %a.link_order(href="#") 
        購入した商品 - 取引中
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        購入した商品 - 過去の取引
        %i.fa.fa-angle-right
      %a.link_order(href="#") 
        ニュース一覧
        %i.fa.fa-angle-right
      %a.link_order(href="#") 
        評価一覧
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        ガイド 
        %i.fa.fa-angle-right
      %a.link_order(href="#") 
        お問い合わせ
        %i.fa.fa-angle-right

      %h3.setting--logo
        設定
      %a.link_order(href="#")
        プロフィール
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        発送元・お届け先住所変更
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        支払い方法
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        メール/パスワード
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        本人情報
        %i.fa.fa-angle-right
      %a.link_order(href="#")
        電話番号の確認
        %i.fa.fa-angle-right
      %a.link_order{"data-method": "delete", href: "#{destroy_user_session_path}"}
        ログアウト
        %i.fa.fa-angle-right
    .right--content
      .mypage-user-icon
        .mypage-user-iconimage
          = link_to edit_user_registration_path do
            - if @user.avatar.attached?
              = image_tag @user.avatar
            - else
              = image_tag "/icon/member_photo_noimage_thumb.png"
        .mypage-user-icon--link
          = @user.nickname 
          .mypage-user__info
            .mypage-user__info--value
              評価
            .mypage-user__info--item_number
              出品数
      .mypage-tab-container-notification-todo
        .mypage-tabs
          %a.notification(href="#")
            お知らせ
          %a.todo(href="#")
            やることリスト
        .tab-content
          .mypage-go-list
            %a(href="#")
              一覧を見る
      .mypage-tab-container
        .mypage-tab-container--head
          購入した商品
        .mypage-tab-container--tabs
          %a.dealing--tab(href="#")
            取引中
          %a.dealed--tab(href="#")
            過去の取引
        .mypage-item
= render 'items/footer'
