.header
  .header__inner
    .header__inner__main
      .header__inner__main__icon
        %h1
          = link_to root_path do
            = image_tag '/logo/logo.png'
      .header__inner__main__searchBox
        %form
          %input{ class:'header__inner__main__searchBox--input', placeholder: 'キーワードから探す' }
          %button{ type: 'submit' }
            .header__inner__main__searchBox__icon
              = image_tag '/icon/icon-search 1.png'
        .header__inner__main__searchBox__results
          -# 検索結果を表示する
    .header__inner__nav
      %ul{ class: 'listLeft__item' }
        %li{ class: 'listLeft__item__left' }
          =  link_to '#' do
            カテゴリ

            %ul
              %li
                =  link_to '#' do
                  1 pulldown-start
                %ul
                  %li
                    =  link_to '#' do
                      1-1
                    %ul
                      %li
                        =  link_to '#' do
                          1-2
              %li
                =  link_to '#' do
                  2
                %ul
                  %li
                    =  link_to '#' do
                      2-1
                    %ul
                      %li
                        =  link_to '#' do
                          2-2
              %li
                =  link_to '#' do
                  3
                %ul
                  %li
                    =  link_to '#' do
                      3-1
                    %ul
                      %li
                        =  link_to '#' do
                          3-2
              %li
                =  link_to '#' do
                  4
                %ul
                  %li
                    =  link_to '#' do
                      4-1
                    %ul
                      %li
                        =  link_to '#' do
                          4-2
              %li
                =  link_to '#' do
                  5
                %ul
                  %li
                    =  link_to '#' do
                      5-1
                    %ul
                      %li
                        =  link_to '#' do
                          5-2

        %li{ class: 'listLeft__item__right' } ブランド
      %ul{ class: 'header__inner__nav__listRight' }
        - if user_signed_in?
          %li{ class: 'header__inner__nav__listRight__item' }
            = link_to user_path(current_user) do
              マイページ
          %li{ class: 'header__inner__nav__listRight__item header__inner__nav__listRight__item--last' }
            = link_to destroy_user_session_path, method: 'delete' do
              ログアウト
        - else
          %li{ class: 'header__inner__nav__listRight__item' }
            = link_to new_user_session_path do
              ログイン
          %li{ class: 'header__inner__nav__listRight__item header__inner__nav__listRight__item--last' }
            = link_to new_user_registration_path do
              新規登録
              