-# ヘッダー
= render partial: 'header'

.all-item
  .all-item__main
    .all-item__main__left
    .all-item__main__right
      .all-item__main__right__box
        %h2= "#{@category.name} の商品一覧"
      .all-item__main__right__lists
        - @items.each do |item|
          .all-item__main__right__lists__list
            = link_to "#", class: "link" do
              .all-item__main__right__lists__list__img
                - item.item_images.each do |image|
                  = image_tag image.image_url.to_s
              .all-item__main__right__lists__list__body
                %h3.name= item.name
                .all-item__main__right__lists__list__body__details
                  %ul
                    %li= item.price
                    %li
                      %i ★ 0
                  %p (税込)
    %after
= paginate @users

-# フッター
= render partial: 'footer'