-# ヘッダー
= render partial: 'header'

-# メインボディ
.index--mainvisual
  =  render  partial: 'mainVisual' 
  %br
  =  render  partial: 'topIntroduction'
  %br
  =  render  partial: 'topMiddle'

  = render partial: 'topkeyfeatures'
  = render partial: 'pickupcontainer'
  
-# フッター
= render partial: 'footer'
