-# ヘッダー
= render partial: 'header'

-# メインボディ
= render partial: 'mainVisual' 
= render partial: 'topIntroduction'
= render partial: 'topMiddle'
= render partial: 'topkeyfeatures'
= render partial: 'pickupcontainer'
= render partial: 'appbanner'

-# フッター
= render partial: 'footer'
