-# ヘッダー
= render partial: 'header'

.all-item
  .all-item__main
    .all-item__main__left
    .all-item__main__right
      .all-item__main__right__box
        - @categories.each do |category|
          %h2 カテゴリー一覧
          - category.subtree.each do |grand_category|
            - grand_category.items.each do |item|
              = item.name

      = render partial: 'itemcard'
    
= paginate @users

-# フッター
= render partial: 'footer'