= render partial: 'items/header'
.item-details-wrapper
  = render partial: 'items/item-detail'
  = render partial: 'items/item-comment'

  .item-details-wrapper__container.item-details-wrapper__container--other
    .item-details-wrapper__container--other__navi
      .item-details-wrapper__container--other__navi__left
        - if @item.previous.present?
          = link_to "/items/#{@item.previous.id}" do
            = icon('fas', 'angle-double-left')
            = @item.previous.name
      .item-details-wrapper__container--other__navi__right
        - if @item.next.present?
          = link_to "/items/#{@item.next.id}" do
            = @item.next.name
            = icon('fas', 'angle-double-right')
  .item-details-wrapper__category
    %ul
      %li<
        = link_to root_path do
          FURIMA
          = icon('fas', 'angle-right')
      %li<
        = link_to '#' do
          = @category_parent.name
          = icon('fas', 'angle-right')
      %li<
        = link_to '#' do
          = @category_children.name
          = icon('fas', 'angle-right')
      %li<
        = link_to '#' do
          = @category_grandchildren.name 
= render partial: 'items/footer'
