= render partial: 'header'
.item-details-wrapper
  .item-details-wrapper__container
    .item-details-wrapper__container__inner
      .item-details-wrapper__container__inner__title
        %h1 #{@item.name}
      .item-details-wrapper__container__inner__body
        .item-details-wrapper__container__inner__body__photo
          = image_tag "#{@item.item_images.find_by(item_id: @item.id).image_url}"
        .item-details-wrapper__container__inner__body__property
          %table{:border => 1}
            %tbody
              %tr
                %th 出品者
                %td #{@item.user.nickname}
              %tr
                %th カテゴリ
                %td カテゴリーを表示
              %tr
                %th ブランド
                %td #{@item.brand}
              %tr
                %th 商品の状態
                %td #{@item.item_status}
              %tr
                %th 送料の負担
                %td #{@item.shipping_cost}
              %tr
                %th 配送の方法
                %td #{@item.shipping_how_to}
              %tr
                %th 発送元地域
                %td #{@item.shipping_area}
              %tr
                %th 発送日の目安
                %td #{@item.shipping_bays}
      .item-details-wrapper__container__inner__body__price
        %p<
          ¥ #{@item.price}
          %s.item-details-wrapper__container__inner__body__price--small><
            （税込）送料込み
      .item-details-wrapper__container__inner__body__purcharseBtn
        = link_to '#' do
          %button 購入画面に進む
      .item-details-wrapper__container__inner__body__text
        %p ここには商品の説明文が表示されます。
  .item-details-wrapper__container.item-details-wrapper__container--border
    .item-details-wrapper__container__inner
      .item-details-wrapper__container__inner__comments
        .item-details-wrapper__container__inner__comments__user-pic
          = image_tag '/a001.png'
        .item-details-wrapper__container__inner__comments__comment
          %p コメントが表示される
      .item-details-wrapper__container__inner__comments-form
        = form_with model: @comments do |form|
          = form.text_area :text, placeholder: 'コメント...'
          = form.submit 'コメントする', { id: 'comment-send' }
  .item-details-wrapper__container.item-details-wrapper__container--other
    .item-details-wrapper__container--other__navi
      .item-details-wrapper__container--other__navi__left
        = link_to '#' do
          = icon('fas', 'angle-double-left')
          -# 前のアイテムの商品名
          Prev
      .item-details-wrapper__container--other__navi__right
        = link_to '#' do
          -# 次のアイテムの商品名
          Next
          = icon('fas', 'angle-double-right')
  .item-details-wrapper__container.item-details-wrapper__container--other.item-details-wrapper__container--border
    .item-details-wrapper__container--other__title
      %h1 #{@item.user.nickname}さんのその他の出品
    .item-details-wrapper__container--other__items
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
  .item-details-wrapper__container.item-details-wrapper__container--other.item-details-wrapper__container--border
    .item-details-wrapper__container--other__title
      %h1 {カテゴリ}その他の出品
    .item-details-wrapper__container--other__items
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}
      .item-details-wrapper__container--other__items__item-box
        .item-details-wrapper__container--other__items__item-box__photo
        .item-details-wrapper__container--other__items__item-box__text
          %h3 {商品タイトル}
          %p {¥1,000円}

  .item-details-wrapper__category
    -# カテゴリ実装時に編集する
    %ul
      %li<
        = link_to root_path do
          FURIMA
          = icon('fas', 'angle-right')
      %li.item-details-wrapper__category__parent<
        = link_to '#' do
          親カテゴリ
          = icon('fas', 'angle-right')
      %li.item-details-wrapper__category__child<
        = link_to '#' do
          子カテゴリ
= render partial: 'footer'