.content-container
  .content-container__header
    %h1
      =  link_to root_path do
        =  image_tag "/logo/logo-white.png"
  .content-container__main
    .content-container__main__body
      %h2{class: "body-chapter"}  クレジットカード

.content__credit-cards
  - if @card.present?
    = form_with url: card_path(@card.id), method: :delete, local: true, id: 'charge-form' do |f|
      %img{src: "#{@card_src}", height:"200", width: "250"}                 
      .content__credit-cards__list--pay-num
        = "**** **** **** " + @card_information.last4
      .content__credit-cards__list--pay-num
        - exp_month = @card_information.exp_month.to_s
        - exp_year = @card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      %input{type: "hidden", name: "card_id", value: ""}
      = f.submit "削除", {class: "content__credit-cards__list__remove"}

.content-container__footer
  .content-container__footer__nav
    %ul{class: "footer-list"}
      %li{class: "footer-privacy"} プライバシーポリシー
      %li{class: "footer-terms"} FURIMA利用規約
      %li{class: "footer-transacation"} 特定商取引に関する表記
    = link_to "#" do
      = image_tag "https://i.gyazo.com/af9930889141532d7485401ea406d64b.png"
    %br
    %span{class:"footer-logo"}
      FURIMA
    %br
    %i ©︎
    %small
      FURIMA, Inc.

-#= form_with url: purchase_item_path do
  :plain
    -#%script.payjp-button{"data-key" => "pk_test_6f80d6030a8568ea3f785a13", :src => "https://checkout.pay.jp", :type => "text/javascript"}
