.kurjitto-container
  .kurejitto-container__header
    %h1
      =  link_to root_path do
        =  image_tag "/logo/logo-white.png"
  .kurejitto-container__main
    .kurejitto-container__main__body
      %h2.body-chapter  支払い方法
    .kurejitto-container__main__form
      = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
        .kurejitto-container__main__form__top
          %label.top-label カード番号
          %span.top-span 必須
          %br
          %input#card_number{placeholder: "半角数字のみ" , maxlength: "16", type: "number"}
          %br
          %ul
            %li.error-text1 必須項目です  半角数字で入力してください
          %ul.card-list
            %li
              = image_tag "https://pcweb-assets.mercdn.net/assets/img/card/visa.svg?3237555052", size: "50x20"
            %li
              = image_tag "https://pcweb-assets.mercdn.net/assets/img/card/master-card.svg?3237555052", size: "35x20"
            %li
              = image_tag "https://pcweb-assets.mercdn.net/assets/img/card/jcb.svg?3237555052", size: "30x20"
            %li
              = image_tag "https://pcweb-assets.mercdn.net/assets/img/card/saison-card.svg?3237555052", size: "30x20"
            %li
              = image_tag "https://pcweb-assets.mercdn.net/assets/img/card/american_express.svg?3237555052", size: "20x20"
            %li
              = image_tag "https://pcweb-assets.mercdn.net/assets/img/card/dinersclub.svg?3237555052", size: "30x20"
            %li
              =image_tag "https://pcweb-assets.mercdn.net/assets/img/card/discover.svg?3237555052", size: "30x20"

        .kurejitto-container__main__form__middle
          %label.middle-label 有効期限
          %span.middle-span 必須
          %br
          %select#exp_month{name: "exp_month", type: "text"}
            %option{value: "0"}
            %option{value: "1"}01
            %option{value: "2"}02
            %option{value: "3"}03
            %option{value: "4"}04
            %option{value: "5"}05
            %option{value: "6"}06
            %option{value: "7"}07
            %option{value: "8"}08
            %option{value: "9"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          %i.arrow-left
          %span 月
          %select#exp_year{name: "exp_year", type: "text"}
            %option{value: "0"}
            %option{value: "2019"}19
            %option{value: "2020"}20
            %option{value: "2021"}21
            %option{value: "2022"}22
            %option{value: "2023"}23
            %option{value: "2024"}24
            %option{value: "2025"}25
            %option{value: "2026"}26
            %option{value: "2027"}27
            %option{value: "2028"}28
            %option{value: "2029"}29
          %i.arrow-right
          %span 年
          %br
        .kurejitto-container__main__form__bottom
          %label セキュリティコード
          %span.code-span 必須
          %br
          %input#cvc{placeholder: "カード背面3~4桁の番号", maxlength: "4", type: "number"}
          #card_token
          %ul
            %li.error-text2 必須項目です  半角数字で入力してください
          .seqcode
            %span.seq-span ？
            %label.seq-label カード裏面の番号とは？
            .seqcode-info
              %span.seq-info-label カードの裏面をご確認ください
              %br
              = image_tag "https://pcweb-assets.mercdn.net/assets/img/signup/seq-card.png?3780252616",size: "200x100"  
          = submit_tag "登録する", id: "token_submit"
          
  .kurejitto-container__footer
    .kurejitto-container__footer__nav
      %ul.footer-list
        %li.footer-privacy プライバシーポリシー
        %li.footer-terms FURIMA利用規約
        %li.footer-transacation 特定商取引に関する表記
      = link_to root_path do
        = image_tag "https://i.gyazo.com/af9930889141532d7485401ea406d64b.png"
      %br
      %span.footer-logo
        FURIMA
      %br
      %i ©︎
      %small
        FURIMA, Inc.





